{% extends "layout.html" %}
{% block content %}
<!--SCRIPT DE GOOGLEMAPS-->

<style>
      html, body, #map-canvas {
        height: 300px;
        margin: 100px;
        width:500px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
		
		
function initialize() {
  var myLatLng = new google.maps.LatLng(9.8567281,-83.916406);
  var mapOptions = {
    zoom: 10,
    center: myLatLng
  };
  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
      
  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
  });
}

function placeMarker(position, map) {
  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
  });
  map.panTo(position);  
}
google.maps.event.addDomListener(window, 'load', initialize);

</script>
<!--SCRIPT DE GOOGLEMAPS-->

<h2>{{ titulo }}</h2>
<h3>{{ descripcion }}</h3>
<h4>Facilidades</h4>
<ul>
	{% for item in facilidades %}
        <li>{{ item }}</li>
    {% endfor %}
	</ul>
<h4>Caracter&iacute;sticas</h4>
<h3> Habitaciones: {{ habitaciones }}, Ba&ntilde;os: {{ banos }} , Estacionamientos: {{ estacionamientos }} </h3>
<h4>Precio: {{ precio }}</h4>
<h4>Ubicacion</h4>
<div id="map-canvas"></div>
<input type="hidden" value="-83.916406" id="pos">
<h4>Contacto:</h4>
<h3>Correo: {{ correo }}</h3>
<h3> Tel&eacute;fono: {{ telefono }}</h3>
<form action="{{ url_for('favorito') }}" method='post'>
<input type="submit" value="Agregar a favoritos">
</form>
{% endblock %}
